@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rad: 0.7rem;
    --dur: 0.3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57db84;
    --height: 5rem;
    --btn-width: 6rem;
    -bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
    background-color: #f5f5f5;
    background: var(--color-dark);
    height: 100vh;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.widget {
    display: flex;
    height: 400px;
    width: 650px;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
            0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.widget .weatherIcon {
    flex: 1 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #fafafa;
    font-family: weathericcons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
}

.widget .weatherInfo {
    flex: 0 0 70%;
    height: 40%;
    background: #080705;
    display: flex;
    align-items: center;
    color: white;
}