* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
  min-height: 100vh;
  background: #3b3b98;
}


.container{
  width: 350px;
  margin: 0 auto;
  padding-top: 200px;
}

.generator{
  border-radius: 3px;
  background: #23235b;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
  padding: 20px;

    &_header{
      text-align: center;
      color: #ffffff;
      margin-bottom: 20px;
    }

    &_password{
        position: relative;
        background: rgba(0,0,0,0.4);
        padding: 13px 10px;
        color: #ffffff;
        margin-bottom: 15px;

        &_passwordBtn{
          position: absolute;
          background: #3b3b98;
          color: #ffffff;
          border: none;
          padding: 10px;
          height: 40px;
          top:2px;
          right: 2px;
          cursor: pointer;
        }
    }

    &_btn{
        background: #3b3b98;
        border: none;
        display: block;
        width: 100%;
        padding: 10px;
        color: #ffffff;
        font-size: 17px;
        cursor: pointer;
        margin-top: 10px;
    }

  }

.form-group{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-bottom: 5px;
    input[type="number"]{
      width: 40px;
    }
      &:last-of-type{
        margin-bottom: 25px;
    }
    label{
      cursor: pointer;
      user-select: none;
    }
}