button {
  color: #efefef;
  font-size: 0.8rem;
  border: none;
  border-radius: 3rem;
  margin: 0.2rem;
  background: #0c0e1b;
  min-width: 80px;
  cursor: pointer;
}

.button-wrapper button.active {
  color: #0c0e1b;
  background-color: #c9ccea;
  border: 1px solid #0c0e1b;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.form-container {
    text-align: center;
}

.input-wrapper {
  margin: 1.5rem;
}

.input-wrapper input {
  height: 30px;
  width: 30px;
  padding: 2rem;
  background-color: #0c0e1b;
  color: #c9ccea;
  border: none;
  border-radius: 50%;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 14pt;
}